openapi: 3.1.0
info:
  title: Bloomberg Server API (SAPI)
  description: >-
    The Bloomberg Server API (SAPI) provides server-side access to Bloomberg
    data for institutional clients and enterprise applications. SAPI enables
    applications running on servers (without a Bloomberg Terminal) to access
    real-time and reference data by connecting to Bloomberg's infrastructure
    through a dedicated server. The SDK supports C++, .NET Framework,
    VBA via COM Data Control, Java, and Python. SAPI uses the same BLPAPI
    protocol as the Desktop API but is designed for server environments
    where multiple concurrent users and applications need data access.
    This specification documents the logical service operations available
    through SAPI.
  version: 3.26.1
  contact:
    name: Bloomberg API Support
    email: apisupport@bloomberg.net
    url: https://www.bloomberg.com/professional/products/data/data-connectivity/server-api/
  license:
    name: Bloomberg Professional Services
    url: https://www.bloomberg.com/notices/tos/
  x-logo:
    url: https://www.bloomberg.com/company/wp-content/uploads/sites/2/2021/09/bloomberg-logo-1.png
servers:
  - url: https://api.bloomberg.com/sapi
    description: >-
      Bloomberg SAPI endpoint. SAPI uses the BLPAPI binary protocol;
      connections are established through the Bloomberg SAPI SDK to a
      Bloomberg appliance or server.
tags:
  - name: Reference Data
    description: >-
      Server-side access to the //blp/refdata service for retrieving
      current reference data, historical data, intraday bars, and tick
      data in enterprise environments.
  - name: Market Data
    description: >-
      Server-side real-time market data subscriptions via the //blp/mktdata
      service, enabling enterprise applications to receive live price feeds.
  - name: Field Information
    description: >-
      Server-side access to the //blp/apiflds service for querying
      Bloomberg field metadata and searching for available data fields.
  - name: Authorization
    description: >-
      SAPI authorization services for managing entitlements, user
      identities, and permission checks in multi-user enterprise
      environments.
paths:
  /blp/refdata/ReferenceDataRequest:
    post:
      operationId: sapiReferenceDataRequest
      summary: Request current reference data via SAPI
      description: >-
        Retrieves current reference data for securities in a server-side
        context. Supports the same parameters as the Desktop API
        ReferenceDataRequest but executes on the server without requiring
        a Bloomberg Terminal session. Enterprise entitlements are validated
        through the SAPI authorization service.
      tags:
        - Reference Data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReferenceDataRequest'
            examples:
              enterpriseRequest:
                summary: Enterprise reference data request
                value:
                  securities:
                    - IBM US Equity
                    - AAPL US Equity
                    - MSFT US Equity
                  fields:
                    - PX_LAST
                    - NAME
                    - MARKET_CAP
                    - GICS_SECTOR_NAME
      responses:
        '200':
          description: Reference data retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferenceDataResponse'
        '403':
          description: Insufficient entitlements for the requested data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /blp/refdata/HistoricalDataRequest:
    post:
      operationId: sapiHistoricalDataRequest
      summary: Request historical data via SAPI
      description: >-
        Retrieves historical end-of-day data for securities in a server-side
        context. Supports the full range of historical data parameters
        including periodicity, adjustments, and currency conversion.
      tags:
        - Reference Data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HistoricalDataRequest'
      responses:
        '200':
          description: Historical data retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalDataResponse'
        '403':
          description: Insufficient entitlements.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /blp/refdata/IntradayBarRequest:
    post:
      operationId: sapiIntradayBarRequest
      summary: Request intraday bar data via SAPI
      description: >-
        Retrieves intraday OHLCV bar data for a security in a server-side
        context.
      tags:
        - Reference Data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntradayBarRequest'
      responses:
        '200':
          description: Intraday bar data retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntradayBarResponse'
  /blp/refdata/IntradayTickRequest:
    post:
      operationId: sapiIntradayTickRequest
      summary: Request intraday tick data via SAPI
      description: >-
        Retrieves tick-level data for a security in a server-side context.
      tags:
        - Reference Data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntradayTickRequest'
      responses:
        '200':
          description: Intraday tick data retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntradayTickResponse'
  /blp/mktdata/Subscribe:
    post:
      operationId: sapiMarketDataSubscribe
      summary: Subscribe to real-time market data via SAPI
      description: >-
        Creates real-time market data subscriptions in a server-side
        context. SAPI can support multiple simultaneous subscriptions
        for enterprise use cases such as portfolio monitoring, risk
        management, and automated trading systems.
      tags:
        - Market Data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketDataSubscription'
      responses:
        '200':
          description: Subscription created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
  /blp/apiflds/FieldInfoRequest:
    post:
      operationId: sapiFieldInfoRequest
      summary: Get field metadata via SAPI
      description: >-
        Retrieves metadata about Bloomberg data fields in a server-side
        context.
      tags:
        - Field Information
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldInfoRequest'
      responses:
        '200':
          description: Field information retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldInfoResponse'
  /blp/apiauth/AuthorizationRequest:
    post:
      operationId: sapiAuthorizationRequest
      summary: Authorize a user identity
      description: >-
        Authorizes a user identity for accessing Bloomberg data through
        SAPI. In server environments, user identities must be authorized
        before making data requests to ensure proper entitlement
        enforcement. This creates an Identity object that is used for
        subsequent data requests.
      tags:
        - Authorization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizationRequest'
            examples:
              authorizeUser:
                summary: Authorize a user by UUID
                value:
                  uuid: 12345678
                  ipAddress: 192.168.1.100
      responses:
        '200':
          description: User authorized successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationResponse'
        '403':
          description: Authorization failed - invalid credentials or entitlements.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /blp/apiauth/TokenRequest:
    post:
      operationId: sapiTokenRequest
      summary: Generate an authorization token
      description: >-
        Generates a token for use in the SAPI authorization flow.
        Tokens are used to establish user identity in server-to-server
        communication.
      tags:
        - Authorization
      responses:
        '200':
          description: Token generated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
components:
  schemas:
    ReferenceDataRequest:
      type: object
      required:
        - securities
        - fields
      properties:
        securities:
          type: array
          items:
            type: string
          minItems: 1
        fields:
          type: array
          items:
            type: string
          minItems: 1
        overrides:
          type: array
          items:
            type: object
            properties:
              fieldId:
                type: string
              value:
                type: string
        returnEids:
          type: boolean
        returnFormattedValue:
          type: boolean
    ReferenceDataResponse:
      type: object
      properties:
        securityData:
          type: array
          items:
            type: object
            properties:
              security:
                type: string
              eidData:
                type: array
                items:
                  type: integer
              sequenceNumber:
                type: integer
              fieldExceptions:
                type: array
                items:
                  type: object
                  properties:
                    fieldId:
                      type: string
                    errorInfo:
                      type: object
                      properties:
                        source:
                          type: string
                        code:
                          type: integer
                        category:
                          type: string
                        message:
                          type: string
              fieldData:
                type: object
                additionalProperties: true
    HistoricalDataRequest:
      type: object
      required:
        - securities
        - fields
        - startDate
        - endDate
      properties:
        securities:
          type: array
          items:
            type: string
        fields:
          type: array
          items:
            type: string
        startDate:
          type: string
          pattern: '^\d{8}$'
        endDate:
          type: string
          pattern: '^\d{8}$'
        periodicitySelection:
          type: string
          enum:
            - DAILY
            - WEEKLY
            - MONTHLY
            - QUARTERLY
            - SEMI_ANNUALLY
            - YEARLY
        currency:
          type: string
        adjustmentNormal:
          type: boolean
        adjustmentAbnormal:
          type: boolean
        adjustmentSplit:
          type: boolean
    HistoricalDataResponse:
      type: object
      properties:
        securityData:
          type: array
          items:
            type: object
            properties:
              security:
                type: string
              sequenceNumber:
                type: integer
              fieldData:
                type: array
                items:
                  type: object
                  properties:
                    date:
                      type: string
                      format: date
                  additionalProperties: true
    IntradayBarRequest:
      type: object
      required:
        - security
        - eventType
        - startDateTime
        - endDateTime
        - interval
      properties:
        security:
          type: string
        eventType:
          type: string
          enum:
            - TRADE
            - BID
            - ASK
        startDateTime:
          type: string
          format: date-time
        endDateTime:
          type: string
          format: date-time
        interval:
          type: integer
          minimum: 1
          maximum: 1440
    IntradayBarResponse:
      type: object
      properties:
        barData:
          type: object
          properties:
            barTickData:
              type: array
              items:
                type: object
                properties:
                  time:
                    type: string
                    format: date-time
                  open:
                    type: number
                  high:
                    type: number
                  low:
                    type: number
                  close:
                    type: number
                  volume:
                    type: integer
                  numEvents:
                    type: integer
    IntradayTickRequest:
      type: object
      required:
        - security
        - startDateTime
        - endDateTime
      properties:
        security:
          type: string
        eventTypes:
          type: array
          items:
            type: string
            enum:
              - TRADE
              - BID
              - ASK
        startDateTime:
          type: string
          format: date-time
        endDateTime:
          type: string
          format: date-time
        includeConditionCodes:
          type: boolean
        includeExchangeCodes:
          type: boolean
    IntradayTickResponse:
      type: object
      properties:
        tickData:
          type: object
          properties:
            tickData:
              type: array
              items:
                type: object
                properties:
                  time:
                    type: string
                    format: date-time
                  type:
                    type: string
                  value:
                    type: number
                  size:
                    type: integer
    MarketDataSubscription:
      type: object
      required:
        - subscriptions
      properties:
        subscriptions:
          type: array
          items:
            type: object
            required:
              - security
              - fields
              - correlationId
            properties:
              security:
                type: string
              fields:
                type: array
                items:
                  type: string
              correlationId:
                type: integer
    SubscriptionResponse:
      type: object
      properties:
        subscriptions:
          type: array
          items:
            type: object
            properties:
              correlationId:
                type: integer
              status:
                type: string
    FieldInfoRequest:
      type: object
      properties:
        id:
          type: array
          items:
            type: string
        returnFieldDocumentation:
          type: string
    FieldInfoResponse:
      type: object
      properties:
        fieldData:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              fieldInfo:
                type: object
                properties:
                  mnemonic:
                    type: string
                  description:
                    type: string
                  datatype:
                    type: string
                  documentation:
                    type: string
    AuthorizationRequest:
      type: object
      description: >-
        Request to authorize a user identity for SAPI access.
      properties:
        uuid:
          type: integer
          description: Bloomberg UUID of the user to authorize.
        ipAddress:
          type: string
          description: IP address of the user's workstation.
        token:
          type: string
          description: Authorization token from TokenRequest.
    AuthorizationResponse:
      type: object
      description: Authorization result.
      properties:
        authorized:
          type: boolean
          description: Whether the user was successfully authorized.
        identity:
          type: object
          description: The authorized identity object.
          properties:
            uuid:
              type: integer
            seatType:
              type: string
              enum:
                - BPS
                - NONBPS
                - INVALID_SEAT
    TokenResponse:
      type: object
      description: Generated authorization token.
      properties:
        token:
          type: string
          description: The authorization token value.
    ErrorResponse:
      type: object
      properties:
        source:
          type: string
        code:
          type: integer
        category:
          type: string
        message:
          type: string
        subcategory:
          type: string
