openapi: 3.1.0
info:
  title: Bloomberg Data License Hypermedia API (HAPI)
  description: >-
    The Bloomberg Data License Hypermedia API (HAPI) provides programmatic
    access to Bloomberg Data License content through a RESTful interface.
    It supports request-response and subscription-based services for
    reference data, pricing data, regulatory data, and alternative data.
    Clients create universes of securities, define field lists, configure
    triggers for scheduling, and submit data requests. Content can be
    delivered via direct download, SFTP, or cloud storage (AWS S3 via
    CloudFront signed URLs). HAPI uses JWT-based authentication with
    OAuth server-mode flow.
  version: 2.0.0
  contact:
    name: Bloomberg Data License Support
    email: dl_support@bloomberg.net
    url: https://www.bloomberg.com/professional/products/data/data-management/data-license/
  license:
    name: Bloomberg Professional Services
    url: https://www.bloomberg.com/notices/tos/
  x-logo:
    url: https://www.bloomberg.com/company/wp-content/uploads/sites/2/2021/09/bloomberg-logo-1.png
servers:
  - url: https://api.bloomberg.com
    description: Bloomberg Data License HAPI production server
tags:
  - name: Catalogs
    description: >-
      Operations for discovering and browsing available data catalogs,
      datasets, and their metadata.
  - name: Universes
    description: >-
      Operations for creating and managing universes of securities for
      data requests.
  - name: Field Lists
    description: >-
      Operations for creating and managing lists of Bloomberg fields to
      retrieve for securities.
  - name: Triggers
    description: >-
      Operations for creating and managing triggers that schedule when
      data requests are executed.
  - name: Requests
    description: >-
      Operations for creating, monitoring, and managing data requests
      that combine universes, field lists, and triggers.
  - name: Datasets
    description: >-
      Operations for accessing and downloading completed dataset results.
  - name: Notifications
    description: >-
      Server-Sent Events (SSE) endpoint for receiving real-time
      notifications about data delivery.
paths:
  /eap/catalogs/:
    get:
      operationId: listCatalogs
      summary: List available data catalogs
      description: >-
        Retrieves a list of all data catalogs available to the authenticated
        client, including Bloomberg standard catalogs and any custom catalogs
        associated with the account.
      tags:
        - Catalogs
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: List of available catalogs retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      security:
        - bearerAuth: []
  /eap/catalogs/{catalogId}/:
    get:
      operationId: getCatalog
      summary: Get catalog details
      description: >-
        Retrieves details about a specific data catalog, including its
        available resources, datasets, and hypermedia links.
      tags:
        - Catalogs
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CatalogId'
      responses:
        '200':
          description: Catalog details retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Catalog'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - bearerAuth: []
  /eap/catalogs/{catalogId}/datasets/:
    get:
      operationId: listDatasets
      summary: List datasets in a catalog
      description: >-
        Retrieves a paginated list of datasets available within a specific
        catalog. Can be filtered to show only subscribed datasets.
      tags:
        - Datasets
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CatalogId'
        - name: subscribed
          in: query
          required: false
          description: Filter to only show datasets the client is subscribed to.
          schema:
            type: boolean
        - name: pageSize
          in: query
          required: false
          description: Number of results per page.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - name: page
          in: query
          required: false
          description: Page number for pagination.
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: List of datasets retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - bearerAuth: []
  /eap/catalogs/{catalogId}/datasets/{datasetId}/:
    get:
      operationId: getDataset
      summary: Get dataset details
      description: >-
        Retrieves metadata and download information for a specific dataset,
        including its status, format, and distribution links.
      tags:
        - Datasets
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CatalogId'
        - name: datasetId
          in: path
          required: true
          description: Unique identifier for the dataset.
          schema:
            type: string
      responses:
        '200':
          description: Dataset details retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - bearerAuth: []
  /eap/catalogs/{catalogId}/universes/:
    get:
      operationId: listUniverses
      summary: List universes in a catalog
      description: >-
        Retrieves all universe definitions created within the specified
        catalog for the authenticated account.
      tags:
        - Universes
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CatalogId'
      responses:
        '200':
          description: List of universes retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - bearerAuth: []
    post:
      operationId: createUniverse
      summary: Create a new universe
      description: >-
        Creates a new universe of securities within the specified catalog.
        A universe defines the set of instruments for which data will be
        requested.
      tags:
        - Universes
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CatalogId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UniverseCreate'
            examples:
              equityUniverse:
                summary: Create a universe of equity securities
                value:
                  '@type': Universe
                  identifier: my-equity-universe
                  title: My Equity Universe
                  description: US large-cap equity universe
                  contains:
                    - '@type': Identifier
                      identifierType: TICKER
                      identifierValue: IBM US Equity
                    - '@type': Identifier
                      identifierType: TICKER
                      identifierValue: AAPL US Equity
                    - '@type': Identifier
                      identifierType: TICKER
                      identifierValue: MSFT US Equity
      responses:
        '201':
          description: Universe created successfully.
          headers:
            Location:
              description: URL of the newly created universe resource.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Universe'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - bearerAuth: []
  /eap/catalogs/{catalogId}/universes/{universeId}/:
    get:
      operationId: getUniverse
      summary: Get universe details
      description: >-
        Retrieves details of a specific universe, including its securities
        and configuration.
      tags:
        - Universes
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CatalogId'
        - name: universeId
          in: path
          required: true
          description: Unique identifier for the universe.
          schema:
            type: string
      responses:
        '200':
          description: Universe details retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Universe'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - bearerAuth: []
    delete:
      operationId: deleteUniverse
      summary: Delete a universe
      description: >-
        Deletes a universe definition from the catalog. Active requests
        using this universe must be cancelled first.
      tags:
        - Universes
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CatalogId'
        - name: universeId
          in: path
          required: true
          description: Unique identifier for the universe.
          schema:
            type: string
      responses:
        '204':
          description: Universe deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - bearerAuth: []
  /eap/catalogs/{catalogId}/fieldLists/:
    get:
      operationId: listFieldLists
      summary: List field lists in a catalog
      description: >-
        Retrieves all field list definitions created within the specified
        catalog for the authenticated account.
      tags:
        - Field Lists
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CatalogId'
      responses:
        '200':
          description: List of field lists retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldListCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - bearerAuth: []
    post:
      operationId: createFieldList
      summary: Create a new field list
      description: >-
        Creates a new field list within the specified catalog. A field list
        defines the Bloomberg data fields to retrieve for securities in a
        data request.
      tags:
        - Field Lists
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CatalogId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldListCreate'
            examples:
              pricingFields:
                summary: Create a pricing field list
                value:
                  '@type': DataFieldListMR
                  identifier: my-pricing-fields
                  title: Pricing Fields
                  description: Common pricing fields for equities
                  contains:
                    - cleanName: PX_LAST
                    - cleanName: PX_OPEN
                    - cleanName: PX_HIGH
                    - cleanName: PX_LOW
                    - cleanName: PX_VOLUME
      responses:
        '201':
          description: Field list created successfully.
          headers:
            Location:
              description: URL of the newly created field list resource.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - bearerAuth: []
  /eap/catalogs/{catalogId}/fieldLists/{fieldListId}/:
    get:
      operationId: getFieldList
      summary: Get field list details
      description: >-
        Retrieves details of a specific field list, including its fields
        and configuration.
      tags:
        - Field Lists
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CatalogId'
        - name: fieldListId
          in: path
          required: true
          description: Unique identifier for the field list.
          schema:
            type: string
      responses:
        '200':
          description: Field list details retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - bearerAuth: []
    delete:
      operationId: deleteFieldList
      summary: Delete a field list
      description: Deletes a field list definition from the catalog.
      tags:
        - Field Lists
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CatalogId'
        - name: fieldListId
          in: path
          required: true
          description: Unique identifier for the field list.
          schema:
            type: string
      responses:
        '204':
          description: Field list deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - bearerAuth: []
  /eap/catalogs/{catalogId}/triggers/:
    get:
      operationId: listTriggers
      summary: List triggers in a catalog
      description: >-
        Retrieves all trigger definitions available within the specified
        catalog, including Bloomberg-provided triggers and custom triggers.
      tags:
        - Triggers
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CatalogId'
      responses:
        '200':
          description: List of triggers retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - bearerAuth: []
    post:
      operationId: createTrigger
      summary: Create a new trigger
      description: >-
        Creates a new scheduled trigger within the specified catalog. Triggers
        define when data requests are executed, supporting one-shot and
        recurring schedules.
      tags:
        - Triggers
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CatalogId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriggerCreate'
            examples:
              scheduledTrigger:
                summary: Create a daily scheduled trigger
                value:
                  '@type': ScheduledTrigger
                  identifier: my-daily-trigger
                  title: Daily EOD Trigger
                  description: Triggers daily at market close
                  frequency: daily
                  startDate: '2026-03-04'
                  startTime: '18:00:00'
      responses:
        '201':
          description: Trigger created successfully.
          headers:
            Location:
              description: URL of the newly created trigger resource.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trigger'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - bearerAuth: []
  /eap/catalogs/{catalogId}/triggers/{triggerId}/:
    get:
      operationId: getTrigger
      summary: Get trigger details
      description: Retrieves details of a specific trigger configuration.
      tags:
        - Triggers
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CatalogId'
        - name: triggerId
          in: path
          required: true
          description: Unique identifier for the trigger.
          schema:
            type: string
      responses:
        '200':
          description: Trigger details retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trigger'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - bearerAuth: []
  /eap/catalogs/{catalogId}/requests/:
    get:
      operationId: listRequests
      summary: List data requests in a catalog
      description: >-
        Retrieves all data requests created within the specified catalog
        for the authenticated account.
      tags:
        - Requests
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CatalogId'
      responses:
        '200':
          description: List of data requests retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - bearerAuth: []
    post:
      operationId: createRequest
      summary: Create a new data request
      description: >-
        Creates a new data request that combines a universe, field list,
        and trigger. When the trigger fires, Bloomberg generates the
        requested data. A DataRequest produces a Dataset; a HistoryRequest
        produces a HistoryDataset.
      tags:
        - Requests
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CatalogId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataRequestCreate'
            examples:
              dataRequest:
                summary: Create a reference data request
                value:
                  '@type': DataRequest
                  identifier: my-data-request
                  title: Daily Pricing Request
                  description: Daily pricing data for equity universe
                  universe:
                    '@ref': /eap/catalogs/my-catalog/universes/my-equity-universe/
                  fieldList:
                    '@ref': /eap/catalogs/my-catalog/fieldLists/my-pricing-fields/
                  trigger:
                    '@ref': /eap/catalogs/bbg/triggers/oneshot/
                  formatting:
                    '@type': DataFormat
                    columnHeader: true
                    delimiter: '|'
                    fileType: unixFileType
              historyRequest:
                summary: Create a historical data request
                value:
                  '@type': HistoryRequest
                  identifier: my-history-request
                  title: Historical Pricing Request
                  description: Historical daily prices for equity universe
                  universe:
                    '@ref': /eap/catalogs/my-catalog/universes/my-equity-universe/
                  fieldList:
                    '@ref': /eap/catalogs/my-catalog/fieldLists/my-pricing-fields/
                  trigger:
                    '@ref': /eap/catalogs/bbg/triggers/oneshot/
                  runtimeOptions:
                    dateRange:
                      '@type': IntervalDateRange
                      startDate: '2025-01-01'
                      endDate: '2026-03-04'
                    period: daily
      responses:
        '201':
          description: Data request created successfully.
          headers:
            Location:
              description: URL of the newly created request resource.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataRequest'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - bearerAuth: []
  /eap/catalogs/{catalogId}/requests/{requestId}/:
    get:
      operationId: getRequest
      summary: Get data request details
      description: >-
        Retrieves details of a specific data request, including its status,
        configuration, and links to produced datasets.
      tags:
        - Requests
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CatalogId'
        - name: requestId
          in: path
          required: true
          description: Unique identifier for the data request.
          schema:
            type: string
      responses:
        '200':
          description: Data request details retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - bearerAuth: []
    delete:
      operationId: deleteRequest
      summary: Delete a data request
      description: Deletes a data request and cancels any pending executions.
      tags:
        - Requests
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CatalogId'
        - name: requestId
          in: path
          required: true
          description: Unique identifier for the data request.
          schema:
            type: string
      responses:
        '204':
          description: Data request deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - bearerAuth: []
  /eap/catalogs/bbg/fields/:
    get:
      operationId: listBloombergFields
      summary: List available Bloomberg fields
      description: >-
        Retrieves a paginated list of available Bloomberg data fields from
        the standard Bloomberg catalog.
      tags:
        - Field Lists
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - name: pageSize
          in: query
          required: false
          description: Number of results per page.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        '200':
          description: List of Bloomberg fields retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BloombergFieldList'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - bearerAuth: []
  /eap/catalogs/bbg/triggers/oneshot/:
    get:
      operationId: getOneshotTrigger
      summary: Get the one-shot trigger
      description: >-
        Retrieves the Bloomberg-provided one-shot trigger which executes
        a request immediately upon creation.
      tags:
        - Triggers
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: One-shot trigger details retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trigger'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - bearerAuth: []
  /eap/notifications/sse:
    get:
      operationId: getNotificationsSSE
      summary: Subscribe to real-time notifications
      description: >-
        Opens a Server-Sent Events (SSE) stream for receiving real-time
        notifications about data delivery, request status changes, and
        dataset availability. Clients should maintain a persistent
        connection to this endpoint.
      tags:
        - Notifications
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: SSE stream opened successfully.
          content:
            text/event-stream:
              schema:
                type: string
                description: >-
                  Server-Sent Events stream delivering notification
                  messages about data request completion and dataset
                  availability.
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        JSON Web Token (JWT) authentication. Each request must include a
        JWT signed with valid Data License credentials. Supports OAuth
        server-mode authentication flow with client_id and client_secret.
  parameters:
    ApiVersion:
      name: api-version
      in: header
      required: true
      description: >-
        HAPI API version. Must be set to 2 for the current specification.
      schema:
        type: integer
        enum:
          - 2
    CatalogId:
      name: catalogId
      in: path
      required: true
      description: >-
        Unique identifier for the data catalog (e.g., 'bbg' for the
        Bloomberg standard catalog, or a custom catalog ID).
      schema:
        type: string
  responses:
    BadRequest:
      description: Bad request - invalid parameters or malformed request body.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: >-
        Unauthorized - missing, invalid, or expired JWT token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    RateLimited:
      description: >-
        Rate limit exceeded. Limit is 1000 requests per second per IP
        address and 1200 requests per minute per application.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      description: Standard error response from the HAPI.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code identifier.
            message:
              type: string
              description: Human-readable error message.
    CatalogList:
      type: object
      description: List of available data catalogs.
      properties:
        contains:
          type: array
          items:
            $ref: '#/components/schemas/CatalogSummary'
    CatalogSummary:
      type: object
      description: Summary of a data catalog.
      properties:
        '@type':
          type: string
        identifier:
          type: string
          description: Unique catalog identifier.
        title:
          type: string
          description: Display title of the catalog.
        links:
          type: object
          additionalProperties:
            type: string
            format: uri
    Catalog:
      type: object
      description: Full details of a data catalog.
      properties:
        '@type':
          type: string
        identifier:
          type: string
          description: Unique catalog identifier.
        title:
          type: string
          description: Display title of the catalog.
        description:
          type: string
          description: Description of the catalog contents.
        links:
          type: object
          additionalProperties:
            type: string
            format: uri
    DatasetList:
      type: object
      description: Paginated list of datasets.
      properties:
        contains:
          type: array
          items:
            $ref: '#/components/schemas/DatasetSummary'
        totalItems:
          type: integer
          description: Total number of datasets available.
        pageSize:
          type: integer
          description: Number of items per page.
        page:
          type: integer
          description: Current page number.
    DatasetSummary:
      type: object
      description: Summary of a dataset.
      properties:
        '@type':
          type: string
          description: Dataset type (e.g., Dataset, HistoryDataset).
        identifier:
          type: string
          description: Unique dataset identifier.
        title:
          type: string
          description: Display title of the dataset.
        status:
          type: string
          description: Current status of the dataset.
          enum:
            - pending
            - generating
            - completed
            - failed
    Dataset:
      type: object
      description: Full details of a dataset including download information.
      properties:
        '@type':
          type: string
          description: Dataset type.
        identifier:
          type: string
          description: Unique dataset identifier.
        title:
          type: string
          description: Display title of the dataset.
        description:
          type: string
          description: Description of the dataset contents.
        status:
          type: string
          description: Current status of the dataset.
          enum:
            - pending
            - generating
            - completed
            - failed
        created:
          type: string
          format: date-time
          description: When the dataset was created.
        modified:
          type: string
          format: date-time
          description: When the dataset was last modified.
        snapshot:
          type: object
          description: Download information for the dataset.
          properties:
            '@type':
              type: string
            distribution:
              type: array
              items:
                type: object
                properties:
                  '@type':
                    type: string
                  contentUrl:
                    type: string
                    format: uri
                    description: URL to download the dataset content.
                  mediaType:
                    type: string
                    description: MIME type of the content.
    UniverseList:
      type: object
      description: List of universe definitions.
      properties:
        contains:
          type: array
          items:
            $ref: '#/components/schemas/UniverseSummary'
    UniverseSummary:
      type: object
      description: Summary of a universe.
      properties:
        '@type':
          type: string
        identifier:
          type: string
        title:
          type: string
    UniverseCreate:
      type: object
      description: Request body for creating a new universe.
      required:
        - '@type'
        - identifier
        - contains
      properties:
        '@type':
          type: string
          description: Must be 'Universe'.
          enum:
            - Universe
        identifier:
          type: string
          description: Unique identifier for the universe.
        title:
          type: string
          description: Display title.
        description:
          type: string
          description: Description of the universe.
        contains:
          type: array
          description: List of security identifiers in the universe.
          items:
            $ref: '#/components/schemas/SecurityIdentifier'
          minItems: 1
    Universe:
      type: object
      description: Full universe definition with its securities.
      properties:
        '@type':
          type: string
        identifier:
          type: string
          description: Unique universe identifier.
        title:
          type: string
          description: Display title.
        description:
          type: string
          description: Description of the universe.
        contains:
          type: array
          items:
            $ref: '#/components/schemas/SecurityIdentifier'
        links:
          type: object
          additionalProperties:
            type: string
            format: uri
    SecurityIdentifier:
      type: object
      description: A Bloomberg security identifier.
      required:
        - '@type'
        - identifierType
        - identifierValue
      properties:
        '@type':
          type: string
          enum:
            - Identifier
        identifierType:
          type: string
          description: Type of security identifier.
          enum:
            - TICKER
            - BB_GLOBAL
            - ISIN
            - CUSIP
            - SEDOL
            - FIGI
        identifierValue:
          type: string
          description: The security identifier value.
    FieldListCollection:
      type: object
      description: List of field list definitions.
      properties:
        contains:
          type: array
          items:
            $ref: '#/components/schemas/FieldListSummary'
    FieldListSummary:
      type: object
      description: Summary of a field list.
      properties:
        '@type':
          type: string
        identifier:
          type: string
        title:
          type: string
    FieldListCreate:
      type: object
      description: Request body for creating a new field list.
      required:
        - '@type'
        - identifier
        - contains
      properties:
        '@type':
          type: string
          description: The type of field list.
          enum:
            - DataFieldListMR
            - HistoryFieldList
        identifier:
          type: string
          description: Unique identifier for the field list.
        title:
          type: string
          description: Display title.
        description:
          type: string
          description: Description of the field list.
        contains:
          type: array
          description: List of field definitions.
          items:
            type: object
            properties:
              cleanName:
                type: string
                description: Bloomberg field mnemonic.
          minItems: 1
    FieldList:
      type: object
      description: Full field list definition.
      properties:
        '@type':
          type: string
        identifier:
          type: string
        title:
          type: string
        description:
          type: string
        contains:
          type: array
          items:
            type: object
            properties:
              cleanName:
                type: string
        links:
          type: object
          additionalProperties:
            type: string
            format: uri
    TriggerList:
      type: object
      description: List of trigger definitions.
      properties:
        contains:
          type: array
          items:
            $ref: '#/components/schemas/TriggerSummary'
    TriggerSummary:
      type: object
      description: Summary of a trigger.
      properties:
        '@type':
          type: string
        identifier:
          type: string
        title:
          type: string
    TriggerCreate:
      type: object
      description: Request body for creating a new trigger.
      required:
        - '@type'
        - identifier
      properties:
        '@type':
          type: string
          description: Type of trigger.
          enum:
            - ScheduledTrigger
        identifier:
          type: string
          description: Unique identifier for the trigger.
        title:
          type: string
          description: Display title.
        description:
          type: string
          description: Description of the trigger.
        frequency:
          type: string
          description: Frequency of the trigger.
          enum:
            - daily
            - weekly
            - monthly
        startDate:
          type: string
          format: date
          description: Date when the trigger becomes active.
        startTime:
          type: string
          description: Time of day for the trigger in HH:MM:SS format.
          pattern: '^\d{2}:\d{2}:\d{2}$'
    Trigger:
      type: object
      description: Full trigger definition.
      properties:
        '@type':
          type: string
        identifier:
          type: string
        title:
          type: string
        description:
          type: string
        frequency:
          type: string
        startDate:
          type: string
          format: date
        startTime:
          type: string
        links:
          type: object
          additionalProperties:
            type: string
            format: uri
    RequestList:
      type: object
      description: List of data requests.
      properties:
        contains:
          type: array
          items:
            $ref: '#/components/schemas/DataRequestSummary'
    DataRequestSummary:
      type: object
      description: Summary of a data request.
      properties:
        '@type':
          type: string
        identifier:
          type: string
        title:
          type: string
        status:
          type: string
    DataRequestCreate:
      type: object
      description: >-
        Request body for creating a data request. Combines a universe,
        field list, and trigger via hypermedia references.
      required:
        - '@type'
        - identifier
        - universe
        - fieldList
        - trigger
      properties:
        '@type':
          type: string
          description: Type of data request.
          enum:
            - DataRequest
            - HistoryRequest
        identifier:
          type: string
          description: Unique identifier for the request.
        title:
          type: string
          description: Display title.
        description:
          type: string
          description: Description of the request.
        universe:
          type: object
          description: Reference to the universe resource.
          properties:
            '@ref':
              type: string
              format: uri
              description: Relative URI to the universe.
        fieldList:
          type: object
          description: Reference to the field list resource.
          properties:
            '@ref':
              type: string
              format: uri
              description: Relative URI to the field list.
        trigger:
          type: object
          description: Reference to the trigger resource.
          properties:
            '@ref':
              type: string
              format: uri
              description: Relative URI to the trigger.
        formatting:
          $ref: '#/components/schemas/DataFormat'
        runtimeOptions:
          $ref: '#/components/schemas/RuntimeOptions'
    DataRequest:
      type: object
      description: Full data request with status and dataset links.
      properties:
        '@type':
          type: string
        identifier:
          type: string
        title:
          type: string
        description:
          type: string
        status:
          type: string
          enum:
            - pending
            - executing
            - completed
            - failed
        universe:
          type: object
          properties:
            '@ref':
              type: string
              format: uri
        fieldList:
          type: object
          properties:
            '@ref':
              type: string
              format: uri
        trigger:
          type: object
          properties:
            '@ref':
              type: string
              format: uri
        formatting:
          $ref: '#/components/schemas/DataFormat'
        runtimeOptions:
          $ref: '#/components/schemas/RuntimeOptions'
        links:
          type: object
          additionalProperties:
            type: string
            format: uri
    DataFormat:
      type: object
      description: Formatting options for dataset output.
      properties:
        '@type':
          type: string
          enum:
            - DataFormat
        columnHeader:
          type: boolean
          description: Whether to include column headers.
        delimiter:
          type: string
          description: Column delimiter character.
        fileType:
          type: string
          description: File type for line endings.
          enum:
            - unixFileType
            - dosFileType
    RuntimeOptions:
      type: object
      description: Runtime options for request execution.
      properties:
        dateRange:
          type: object
          description: Date range for historical requests.
          properties:
            '@type':
              type: string
              enum:
                - IntervalDateRange
                - RelativeDateRange
            startDate:
              type: string
              format: date
              description: Start date for the range.
            endDate:
              type: string
              format: date
              description: End date for the range.
        period:
          type: string
          description: Periodicity of historical data.
          enum:
            - daily
            - weekly
            - monthly
            - quarterly
            - semiAnnual
            - yearly
    BloombergFieldList:
      type: object
      description: List of available Bloomberg data fields.
      properties:
        contains:
          type: array
          items:
            type: object
            properties:
              cleanName:
                type: string
                description: Bloomberg field mnemonic.
              description:
                type: string
                description: Description of the field.
              dataType:
                type: string
                description: Data type of the field value.
